.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 14rem;
}

label{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #cfcfcf;
    padding: 1.5rem 0;
}

.input{
    border: 2px solid #eee;
    background-color: transparent;
    padding:5px;
    border-radius:10px;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    outline: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border-width 0.1s linear;
}

.inputInvalid{
    border: 2px solid #eee;
    background-color: transparent;
    padding:5px;
    border-radius:10px;
    border-color: red;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    outline: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: border-width 0.1s linear;
    animation: shake 0.2s ease-in-out 0s 2;
}
  
.input:focus { border-width: 3px; }

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
  }
