$t: rgba(255, 0, 0, 0);
$w: rgba(255, 255, 255, 0.98);

.sticker {
  --c1: #ef548f;
  --c2: #ef8b6d;
  --c3: #cfef6b;
  --c4: #3bf0c1;
  --c5: #bb4af0;
  --shine-angle: 15deg;
  display: inline-grid;
  grid-template-areas: "text";
  place-items: center;
  font-family: "Alegreya Sans SC", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: clamp(6rem, 9vw, 5rem);
  text-transform: uppercase;
  color: var(--c5);
  position: relative;
  right: 20px;
  transform: rotate(-10deg);  
  max-width: 790px;


  // &-lg {
  //   font-size: clamp(7rem, 9vw, 5rem);
  // }

  span {
    background: linear-gradient(
        var(--shine-angle),
        $t 0%,
        $t 35%,
        $w 49.95%,
        $w 50.15%,
        $t 65%,
        $t
      ),
      linear-gradient(
        to right,
        var(--c1),
        var(--c2),
        var(--c3),
        var(--c4),
        var(--c5)
      );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.6);
    max-width: 435px;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .sticker{
    // width: 100%;
    margin: 0;
    transform: rotate(0deg);
    font-size: clamp(1rem, 9vw, 3rem);
    right: 0;
    span{
      width: 76vw;
    }
  }
}